*.o
*.a
*.d
*_flymake.h
*_flymake.cpp
TAGS
*~

/doxygen/
/site/
/venv/

# autotools stuff
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache/
/build-aux/
/configure
/config.log
/config.status
/config.h
/config.h.in
/stamp-h?
.deps/
/libtool
.dirstamp

# cmake stuff
/build